<!DOCTYPE HTML>
<html lang="javascript">
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!--
    페이지 로딩속도를 높이기 위해 css는 header에,
    js는 footer에 두자.
    HTML은 위에서부터 코드가 실행되므로 head가 다 실행되고서야 body가 실행됨.
-->